<html><body>
    <form method='POST'>
        <input type=hidden name=pic value="c64">
        <input type=image src="/static/c64.png" name="submit">
        </form>
        <form method='POST'>
            <input type=hidden name=pic value="puzzle">
            <input type=image src="/static/puzzle.png" name="submit">
            </form>
            <form method='POST'>
                <input type=hidden name=pic value="cross">
                <input type=image src="/static/cross.png" name="submit">
                </form>
                        
</body></html>
    